version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres_data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
      - ../data:/docker-entrypoint-initdb.d/data
volumes:
  postgres_data:
networks:
  ecommerce-network:
    driver: bridge